
{% extends 'layouts/base.html' %}

{% block title %} Cadastro funcionário {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Page content -->
    <div class="header bg-gradient-primary pb-5 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <h5 class="card-title text-uppercase mb-0">Funcionário</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--4">
        <div class="row">
            <div class="card col-xl-12 col-lg-12">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-6"><h3 class="mb-0">Lista dos funcionários</h3></div>
                        <div class="col-6 text-right">
                            <button type="button" onclick="window.location.replace('/funcionario/novo')" class="btn btn-primary btn-sm btn-round btn-icon">NOVO</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Data de nascimento</th>
                            <th scope="col">Data do exame admissional</th>
                            <th scope="col">Setor</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Função</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for f in funcionarios %}
                            <tr>
                                <td><a href="/funcionario/{{ f.id }}">{{ f.nome }}</a></td>
                                <td>{{ f.cpf }}</td>
                                <td>{{ f.data_nascimento|date:"d/m/Y" }}</td>
                                <td>{{ f.data_exame_admissional|date:"d/m/Y" }}</td>
                                <td>{{ f.setor }}</td>
                                <td>{{ f.cargo }}</td>
                                <td>{{ f.funcao }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

