
{% extends 'layouts/base.html' %}

{% block title %} Cadastro funcionário {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid mt--4">
        <div class="row">
            <div class="card col-xl-12 col-lg-12">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-6"><h3 class="mb-0">Lista dos funcionário/EPI</h3></div>
                        <div class="col-6 text-right">
                            <button type="button" onclick="window.location.replace('/funcionario_epi/novo')" class="btn btn-primary btn-sm btn-round btn-icon">NOVO</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Funcionário</th>
                            <th scope="col">Equipamento</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Data de entrega</th>
                            <th scope="col">Data de vencimento</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for f in funcionario_epis %}
                            <tr>
                                <td><a href="{{ f.id }}">{{ f.funcionario.nome }}</a></td>
                                <td>{{ f.equipamento.descricao }}</td>
                                <td>{{ f.quantidade }}</td>
                                <td>{{ f.data_entrega|date:"d/m/Y" }}</td>
                                <td>{{ f.data_vencimento|date:"d/m/Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

