
{% extends 'layouts/base.html' %}

{% block title %} Cadastro de EPI {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid mt--4">
        <div class="row">
            <div class="card col-xl-12 col-lg-12">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-6"><h3 class="mb-0">Lista de equipamentos</h3></div>
                        <div class="col-6 text-right">
                            <button type="button" onclick="window.location.replace('/equipamento/novo')" class="btn btn-primary btn-sm btn-round btn-icon">NOVO</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Prazo de validade</th>
                            <th scope="col">Certificado de aprovação</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for epi in equipamentos %}
                            <tr>
                                <td><a href="/equipamento/{{ epi.id }}">{{ epi.codigo }}</a></td>
                                <td>{{ epi.descricao }}</td>
                                <td>{{ epi.tipo }}</td>
                                <td>{{ epi.prazo_validade|date:"d/m/Y" }}</td>
                                <td>{{ epi.certificado_aprovacao }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary" onclick="location.href='/equipamento/{{ epi.id }}/funcionario'" data-toggle="tooltip" data-placement="top" title="Associar funcionário">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

