{% extends 'layouts/base.html' %}
{% load custom_tags %}

{% block title %} Comunicação do acidente do trabalho {% endblock title %}

{% block content %}
    {% load widget_tweaks %}
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-secondary shadow border-1">
                    <div class="card-header">
                        <h3 class="mb-0">Comunicação do acidente do trabalho</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                                </div>
                            {% endif %}

                            <fieldset class="form-group">
                                <legend>Informação do funcionário</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.funcionario %}
                            </fieldset>
    
                            <fieldset class="form-group">
                                <legend>Informação sobre a comunicação do acidente do trabalho</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_data_hora %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.tipo_acidente %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_horas_trabalhadas %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.tipo_cat %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_obito %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_data_obito %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_notificacao_policial %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.fator_acidente %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_aviso_comunicacao %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.observacao %}
                            </fieldset>

                            <fieldset class="form-group">
                                <legend>Local do acidente</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.tipo_localizacao_acidente %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.localizacao_acidente_especificacao %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_tipo_endereco %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_descricao %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_numero %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_complemento %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_bairro %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_cep %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_pais %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_estado %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_cidade %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.acidente_endereco_codigo_postal %}
                            </fieldset>

                            <fieldset class="form-group">
                                <legend>Identificação do local onde ocorreu o acidente</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.tipo_inscricao %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.inscricao_numero %}
                            </fieldset>

                            <fieldset class="form-group">
                                <legend>Detalhamento das partes do corpo atingida pelo acidente do trabalho</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.parte_corpo_atingida %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.lado_parte_corpo_atingida %}
                            </fieldset>

                            <fieldset class="form-group">
                                <legend>Agentes causadores do acidente do trabalho</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.agentes_causadores %}
                            </fieldset>

                            <fieldset class="form-group">
                                <legend>Atestado Médico</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.atestado_medico_codigo %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.atestado_medico_data %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.hospital %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.tempo_hospital %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.afastamento_medico %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.natureza_lesao %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.lesao_complemento_descricao %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.diagnostico %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.cid_codigo %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.atestado_medico_observacao %}
                            </fieldset>

                            <fieldset class="form-group">
                                <legend>Profissional que emitiu o atestado</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.nome_medico %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.natureza_lesao_classificao %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.classificao_codigo_medico %}
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.uf_medico %}

                            <fieldset class="form-group">
                                <legend>Registro obrigatório que indica a CAT de origem, preenchido quando se tratar de CAT de reabertura ou de comunicação de óbito</legend>
                                {%  include 'seguranca_trabalho/includes/form_input.html' with field=form.codigo_cat %}
                            </fieldset>

                            <div class="row">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-secondary" onclick="window.location.replace('{{ link }}')">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}